@media screen and (min-width:769px) {
body{
  background-color: pink;
  margin: 0;
}
#fondo{
  width: 100%;
  position: relative;
  background-image: url(foto/inicio.jpg);
}
#fondo2{
  display: none;
}
#idioma{
  width: 100%;
  height: 10%;
  bottom: 300px;
  position: absolute;
}
#catala{
height:50px;
width: 20%;
background-color: white;
display: inline-block;
margin: 0 0 0 30%;
text-align: center;
padding: 20px 0 0 0;
font-size: 1.5em;
}
#castellano{
display: inline-block;
height: 50px;
margin: 0 0 0 0;
width: 20%;
background-color: white;
padding: 20px 0 0 0;
text-align: center;
font-size: 1.5em;
}
a{
  text-decoration: none;
}
}
