@media screen and (max-width:480px) {
body{
  
  margin: 0;
  width: 100%;
}
#fondo{

display: none;
z-index: 1;
}
#fondo2{
  width: 100%;

z-index: 9;
position: relative;

}
#idioma{
z-index: 10;
margin: -400px 0 0 0;
width: 100%;

position: absolute;
}
#catala{
height:30px;

background-color: white;
display: inline-block;
margin: 0 0 0 20%;
text-align: center;
padding: 10px 0 0 0;
font-size: 1em;
}
#castellano{
display: inline-block;
height: 30px;
margin: 0 0 0 0;

background-color: white;
padding: 10px 0 0 0;
text-align: center;
font-size: 1em;
}
a{
  text-decoration: none;
}
}
