@media screen and (max-width:480px) {
  body{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1rem;
  }
  #arriba{
    width: 100%;
    height: 30px;
    clear: both;
    position: fixed;
    z-index: 10;

  }
  #idioma{
    width: 40%;
    height: 50px;
    margin: 0 0 0 60%;

  }
  .ca{
    width: 25%;
    height: 10px;
    margin: 0 -10% 0 28%;
    float: left;
    text-align: right;
    padding-top: 40px;
    font-size: 0.7em;

  }
  #logo{
    width: 16%;
    margin: 10px 0 0 30px;
    float: left;
  }
  #medio{
    width: 100%;
    height: 100px;
    position: absolute;
  }
  #texto{

    height: 30px;
    width: 60%;
    margin: 5% 20% 0 20%;
    text-align: center;
    padding: 5px 0 0 0;
    font-size: 1.5em;
  }
  #textos{
    width: 100%;
    height: 240px;
    position: absolute;
    margin-top: 20%;
  }
  #texto1{
    background-color: rgba(255, 255, 255, 0.76);
    height: 50px;
    width: 70%;
    text-align: center;
    padding: 15px 0 0 0;
    margin: 10px 15% 0 15%;
    font-size: 1.5em;
  }
  #fondo{
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  #blog{
    width: 100%;
    height: 700px;
    position: absolute;
    margin-top: -10px;
    z-index: 15;
  }
  #secciones{
    width: 100%;
    height: 30px;
    margin: 0 0% 0 0%;
    position: relative;
    z-index: 15;
    clear: both;
    background-color: red;
  }
  .secc{
     width:15%;
     margin-top: 0px;
     height: 10px;
     float: left;
    text-align: center;
    margin: 0 0 0 0 ;
    font-size: 0.8rem;
    padding: 10% 5% 0 5%;
    background-color: blue;


  }
  #nosotros{
    width: 90%;
    height: 100px;
    padding-top: 50px;
    margin: 0 5% 0 5%;
  }
  #madame{
      height: 1000px;
      padding: 20px 0 0 0;
      clear: both;
      width: 100%;
      background-color: green;
      border-bottom: 5px rgba(209, 209, 202, 0.89) solid;
  }
  #nunoya{
    clear: both;
    width: 100%;
    background-color: green;
    height: 850px;
    padding: 20px 0 0 0;
    border-bottom: 5px rgba(209, 209, 202, 0.89) solid;
  }
  #norma{
    clear: both;
    width: 100%;
    background-color: green;
    height: 850px;
    padding: 20px 0 0 0;
    border-bottom: 5px rgba(209, 209, 202, 0.89) solid;
  }
  #otonashi{
    clear: both;
    width: 100%;
    background-color: green;
    height: 850px;
    padding: 20px 0 0 0;
    border-bottom: 5px rgba(209, 209, 202, 0.89) solid;
  }

  #haiku{
    clear: both;
    width: 100%;
    background-color: green;
    height: 850px;
    padding: 20px 0 0 0;
    border-bottom: 5px rgba(209, 209, 202, 0.89) solid;
  }

  .grande{
  width: 45%;
  height: 40%;
  margin: 0 2% 5% 2%;
  float: left;
  }

  .pequeña{
    padding: 20px 0 0 0;
    width: 31%;
    height: 25%;
    margin: 0 1% 5% 1%;
    float: left;
  }
  #abajo{
  width: 100%;
  height: 100px;
  background-color: black;
  position:absolute;
  margin-top: 1000px;
  }
  #flecha{
    width: 16%;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding-top: 5px;
    margin: -5% 42% 0 42%;
    style-type: none;
  }
  #redes{
    width: 100%;
    margin: 2% 0% 0 0%;
  }
  .img{
    width: 16%;
    margin: 0 4% 0 4%;
  }
  .tiendas{
  width: 100%;
  height: 30px;
  display: none;
  list-style-type: none;
  padding: 10px 0 0 0;
  }
  #secciones .secc:hover > .tiendas{
    display: block;

  }
  a{
    text-decoration: none;
  }

}
