@media screen and (max-width:480px) {
body{
  background-color: pink;
  margin: 0;
  width: 100%;
}
#fondo{
  width: 100%;


  position: relative;

}
#idioma{
display: none;
}
#catala{
height:50px;
width: 20%;
background-color: ;
display: inline-block;
margin: 0 0 0 30%;
text-align: center;
padding: 20px 0 0 0;
font-size: 1em;
}
#castellano{
display: inline-block;
height: 50px;
margin: 0 0 0 0;
width: 20%;
background-color: white;
padding: 20px 0 0 0;
text-align: center;
font-size: 1.5em;
}
a{
  text-decoration: none;
}
}
